#main{
	width:100%;
 	min-height:730px;
 	float:left;
 	background:;
}
.nav{
	display:inline-block;
	margin-left:13%;
}
.nav p{
     color:#999;
     letter-spacing: 2px;
     font :15px;
}
.content{
	width:74%;
	min-width: 1000px;
 	min-height:710px;
 	margin-left:13%;
 	float:left;
 	margin-top:10px;
 	border-top-left-radius:5px;
 	border-top-right-radius:5px;
 	background:;
 	border:1px solid #EBEBEB;
 	box-shadow:4px 4px 4px #ccc;
}
h2.title{
	width:100%;
	height:50px;
	font-color:#666;
	font-family:Arial,"微软雅黑";
	float:left;
	text-align: center;
	background-color:;
	line-height: 50px;
	margin-top:5px;
}
.news1_pt{
	 float:left;
	width:250px;
	min-height:710px;
	background-color: ;
}
.news1_pt img{
	margin-bottom: 20px;
    float:left;
    width:250px;
    height:200px;
    border-radius: 110px;
}
.news1_p{
	min-width: 750px;
	min-height:710px;
	
    background-color: ;
}
.news1_p p{
	text-indent: 2em;
	font-family:Arial,"微软雅黑";
	font-size: 16px;
	letter-spacing: 1.3px;
	color:#666;
	line-height:30px;
	margin-left: 20px;
	margin-right: 20px;
}