<!--头部和导航栏-->
<div id="top">
    <div id="blank">
        <div class="logo"><img src="__PUBLIC__/Front/images/logo2.png"></div>
        <div class="logo2"><a href="__APP__/Admin/Login/index.html" target="_blank"><img src="__PUBLIC__/Front/images/6270.gif"></a></div>
        <div class="logo3"><img src="__PUBLIC__/Front/images/logo3.jpg"></div>
    </div>
	<div id="head">
			<ul>
            <li><a href="__APP__/Home/Index/index.html">首页</a></li>
            <li><a href="__APP__/Home/Index/news.html">新闻动态</a></li>
            <li><a href="__APP__/Home/Index/heart.html">爱心轨迹</a></li>
            <li><a href="__APP__/Home/Index/market.html">阳光超市</a></li>
            <li><a href="__APP__/Home/Index/member.html">成员简介</a></li>
            <li><a href="__APP__/Home/Index/applay.html">在线报名</a></li>
            <li><a href="__APP__/Home/Index/relation.html">联系我们</a></li>
            </ul>
	</div>

	

	<div id="index-img">
        <div class="index-img-gun">
            <center>
            <section id="rt-showcase-surround">
                <div class="csslider1 autoplay">
                    <input name="cs_anchor1" autocomplete="off" id="cs_slide1_0" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" autocomplete="off" id="cs_slide1_1" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" autocomplete="off" id="cs_slide1_2" type="radio" class="cs_anchor slide" >
                    <input name="cs_anchor1" autocomplete="off" id="cs_play1" type="radio" class="cs_anchor" checked>
                    <input name="cs_anchor1" autocomplete="off" id="cs_pause1" type="radio" class="cs_anchor" >
                    <ul>
                        <div style="width: 100%; visibility: hidden; font-size: 0px; line-height: 0;">
                            <a href=""><img src="__PUBLIC__/front/images/lunbo1.jpg" style="width: 100%;" class="set-img"></a>
                            <p class="lunbo_p"><a target="" href="">华农大&nbsp;&nbsp;&nbsp;&nbsp;关工委&nbsp;&nbsp;&nbsp;&nbsp;阳光家园揭牌仪式</a>
                     </p>
                        </div>
                        <li class="num0 img">
                            <a href=""><img src="__PUBLIC__/front/images/lunbo2.jpg" alt="Clouds" title="Clouds"  class="set-img"/></a>
                            <p class="lunbo_p"><a target="" href="">华农大&nbsp;&nbsp;&nbsp;&nbsp;关工委&nbsp;&nbsp;&nbsp;&nbsp;阳光家园揭牌仪式</a>
                     </p>
                        </li>
                        <li class="num1 img">
                            <a href=""><img src="__PUBLIC__/front/images/lunbo3.jpg" alt="Typewriter" title="Typewriter" class="set-img" /></a>
                            <p class="lunbo_p"><a target="" href="">华农大&nbsp;&nbsp;&nbsp;&nbsp;关工委&nbsp;&nbsp;&nbsp;&nbsp;阳光家园揭牌仪式</a>
                     </p>
                        </li>
                        <li class="num2 img">
                            <a href=""><img src="__PUBLIC__/front/images/lunbo4.jpg" alt="Bicycle" title="Bicycle" class="set-img" /></a>
                            <p class="lunbo_p"><a target="" href="">华农大&nbsp;&nbsp;&nbsp;&nbsp;关工委&nbsp;&nbsp;&nbsp;&nbsp;阳光家园揭牌仪式</a>
                     </p>
                        </li>
                    </ul>
                     
                    <div class="cs_arrowprev">
                        <label class="num0" for="cs_slide1_0"></label>
                        <label class="num1" for="cs_slide1_1"></label>
                        <label class="num2" for="cs_slide1_2"></label>
                    </div>
                    <div class="cs_arrownext">
                        <label class="num0" for="cs_slide1_0"></label>
                        <label class="num1" for="cs_slide1_1"></label>
                        <label class="num2" for="cs_slide1_2"></label>
                    </div>
                    
                   <!-- <div class="cs_bullets">
                        <label class="num0" for="cs_slide1_0">
                            <span class="cs_point"></span>
                        </label>
                        <label class="num1" for="cs_slide1_1">
                            <span class="cs_point"></span>
                        </label>
                        <label class="num2" for="cs_slide1_2">
                            <span class="cs_point"></span>
                        </label>
                    </div>-->
                </div>
            </section>        <!-- /slider -->
            </center>
        </div>
    </div>

		
	</div>
</div>