<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>阳光家园</title>
  <link rel="stylesheet" href="__PUBLIC__/Front/css/header.css">
  <link rel="stylesheet" href="__PUBLIC__/Front/css/heart.css">
  <link rel="stylesheet" href="__PUBLIC__/Front/css/style.css">
</head>
<body>
  <!--头部-->
  <include file="./Application/Home/View/Public/header.html" />
  <div id="main">
  <div class="nav"><p>首页>>爱心轨迹</p></div>
    <div class="content1">
     
  <ul class="timeline">
     <li>
          <div class="time">2015-01-22</div>
          <div class="version"></div>
         <div class="number"></div>
         <div class="content">
              <p>
              教育部关工委评选出全国高校关工委工作十大品牌优秀案例。本次评选从2013年开始，2014年年底截止，经过组织推荐、网上投票、综合评审等环节，最终确定 “帮困助学”“特邀党建组织员”“五老报告团”“主题教育活动”等高校关工委工作十大品牌我校报送的阳光家园案例《有爱者善终成五年公益做慈善》获评“帮困助学”优秀案例
              ...        
             </p>
          </div>
        </li>
      <li>
          <div class="time">2014-11-02</div>
          <div class="version"></div>
         <div class="number"></div>
         <div class="content">
              <p>
              11月2日上午，由湖北省慈善总会领导下的阳光家园和阳光超市为陈玉凡、吴盛金同学捐款活动在大学生活动中心门口举行。本次捐款活动为陈玉凡、吴盛金同学分别捐助八千元，共计一万六千元。工学院负责人、本科生辅导员、研究生辅导员，阳光家园的老师及相关负责人，志愿者们出席了活动。仪式上，阳光家园负责人阮桂美讲了话。她介绍了阳光家园及阳光超市创立的历程，并对本次致力于帮助工学院两位同学的阳光超市志愿者和工学院锐工服务队表达了谢意。
             </p>
          </div>
        </li>
        <li>
          <div class="time">2011-03-07</div>
          <div class="version"></div>
         <div class="number"></div>
         <div class="content">
              <p>
              3月5日上午，在毛泽东等老一辈无产阶级革命家为雷锋同志题词48周年之际，由湖北慈善总会、华中农业大学关心下一代工作委员会、本禹志愿服务基金、华中农业大学红杜鹃爱心社共同开办的阳光超市正式开门营业，并在荟园4栋一楼举行了简短的开业仪式。湖北省慈善总会执行会长何运杰、校党委副书记唐峻、共青团省委省志愿者协会副主任徐本禹及校关工委、校团委、阳光家园等部门负责人出席开业仪式。仪式由校关工委秘书长黎会平主持。仪式最后，湖北省慈善总会执行会长何运杰同我校党委副书记唐峻共同签订了共建阳光超市的协议。不少同学表示“这种模式很好，东西也是十分便宜，希望它能一直开下去。”
              ...       
             </p>
          </div>
        </li>

   </ul>
   <a class="more" href="">更多</a>
  <script>
       $(function() {
           var nextDataNumber = 5;
          var ulNode = $('ul.timeline')
           function initLiNodes() {
              var liNodes = ulNode.find('li'), count = liNodes.length, i, liNode, leftCount = nextDataNumber * 20;
               for(i=0; i<count; i++) {
                  liNode = $(liNodes.get(i));
                 if(i % 2 !== 0) {
                   liNode.addClass('alt');
                    } else {
                      liNode.removeClass('alt');
                  }
                  liNode.find('.number').text(leftCount + count - i);
              }
          }                  
            $('#fetchNextData').click(function() {
             var $this = $(this);
             $this.addClass('disabled').text('......');      
              $.get('./version_data_' + nextDataNumber +'.txt', function(data) {
                  ulNode.append(data);
                  $this.removeClass('disabled').text('后二十条数据');
                  nextDataNumber--;                 
                if(nextDataNumber === 0) {
                    $this.hide();
                 }          
                 initLiNodes();
             });             
         });
        initLiNodes();
      });

   </script>
    </div>
  </div>
  <!--尾部-->
    <include file="./Application/Home/View/Public/footer.html"/>
</body>
</html>
