<!DOCTYPE html>

<html>
<head>
	<meta charset="utf-8" />
	<title>阳光家园</title>
	<link rel="stylesheet" href="__PUBLIC__/Front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Front/css/index.css">
	<link rel="stylesheet" href="__PUBLIC__/Front/css/style.css">
</head>
<body>
	<!--头部-->
	<include file="./Application/Home/View/Public/header.html" />
	<div id="main">
		<div class="content">
			<div class="left">
			   <!-- <h2>WHAT IS </h2>
			    <h3>&nbsp;&nbsp;阳光家园</h3>-->
				<div class="index1"><p>我们的理念和口号</p></div>
				{$arr.khln}
				<div class="index1"><p>我们的任务</p></div>
				{$arr.rw}
				<div class="index1"><p>我们的成果</p></div>
                {$arr.cg}
			</div>
			<div class="center"></div>
			<div class="right">
			    <ul>
			    <li>
			        <a target="" href="__APP__/Home/Index/news1.html">
                    <img width="200" height="230" border="0" alt="" name="" src="__PUBLIC__/Front/images/news21.jpg">
                     </a>
                     <p class="img_p">
                     <a target="" href="__APP__/Home/Index/news1.html">甘孜藏区行</a>
                     </p>
                </li>
                <li>
                	<a target="" href="__APP__/Home/Index/news1.html">
                    <img width="200" height="230" border="0" alt="" name="" src="__PUBLIC__/Front/images/news3.jpg">
                     </a>
                     <p class="img_p">
                     <a target="" href="__APP__/Home/Index/news1.html">校园爱心义卖</a>
                     </p>
                </li>
                <li>
                	<a target="" href="__APP__/Home/Index/news1.html">
                    <img width="200" height="230" border="0" alt="" name="" src="__PUBLIC__/Front/images/lunbo1.jpg">
                     </a>
                     <p class="img_p">
                     <a target="" href="http://news1.hzau.edu.cn/showarticle.php?aid=19851">阳光家园揭牌</a>
                     </p>
                </li>
                <li>
                	<a target="" href="__APP__/Home/Index/news1.html">
                    <img width="200" height="230" border="0" alt="" name="" src="__PUBLIC__/Front/images/x2.png">
                     </a>
                     <p class="img_p">
                     <a target="" href="http://news.hzau.edu.cn/2011/0307/24411.shtml">阳光超市开业</a>
                     </p>
                </li>
			    <!--<h3>新闻聚焦</h3>

				<div class="right1"><a href="__APP__/Home/Index/news1.html">甘孜藏区行</a><img src="__PUBLIC__/Front/images/news21.jpg"></div>
				<div class="right2"><a href="">校园爱心义卖</a><img src="__PUBLIC__/Front/images/news3.jpg"></div>
				<div class="right3"><a href="">外校交流</a><img src="__PUBLIC__/Front/images/news1.jpg"></div>
				<div class="right4"><a href="">阳光小屋</a><img src="__PUBLIC__/Front/images/news4.jpg"></div>
				<div class="right5"><p>-------------------------------------------------------------</p><a href="">>>更多</a></div>-->
			</div>
		</div>
	</div>
	<!--尾部-->
    <include file="./Application/Home/View/Public/footer.html"/>
</body>
</html>