<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>阳光家园</title>
	<link rel="stylesheet" href="__PUBLIC__/Front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Front/css/news1.css">
	<link rel="stylesheet" href="__PUBLIC__/Front/css/style.css">
</head>
<body>
	<!--头部-->
	<include file="./Application/Home/View/Public/header.html" />
	<div id="main">
		<div class="content">
		    <h2 class="title">甘孜藏区行</h2>
		    <div class="news1_pt">
			<img src="__PUBLIC__/Front/images/news21.jpg">
			<img src="__PUBLIC__/Front/images/news22.jpg">
			
			</div>
			<div class="news1_p">
				<p>我们与四川甘孜石渠藏区结对子，对该贫困地区开展了近五年的对口支援
			    四川甘孜州石渠县一所孤儿院知道我们后，院长亲自与我们联系，告诉我们天太冷孩子们过冬非常困难，希望我们帮帮他们，接着将孩子们的年龄、鞋子尺码清单发给我。我们立即在学校幼儿园进行募捐活动，并及时将募捐到物品寄到哪儿。经过这一来二去运送物品，我们才知道他们是那么需要帮助，这样就决定将四川甘孜州石渠县作为我们阳光家园校外的重点帮扶点。
			    近五年来，我们仅通过江玛佛学院向藏区捐赠物品累计就有300余包，御寒物质近万件。 石渠县位于青藏高原的四川、青海、西藏三省结合部，是四川面积最大、最偏远、海拔最高且交通最不方便的县之一。西北部与青海玉树接壤，西南与西藏江达县隔江相望，平均海拔4200米以上，幅员面积25191平方公里，是名副其实的“世界高城”</br>
			    &nbsp;&nbsp;&nbsp;&nbsp;为了更有针对性、更有效地进行帮扶，我们认为有必要对当地进行实地考察，亲眼看看藏民的生活。哪怕山高路远，高原缺氧，年老体弱，也应该去了解当地的实际情况，了解对方的需求和要求，以改进我们所能提供的帮扶内容、帮扶方式。以往我们不了解情况，完全是凭想象。根本不清楚送去的物品怎样到藏民手里？衣物如何分类和装袋？哪些御寒物品最急需？
			    我们参加人员大都是从副校长、教授、高级教师和行政管理岗位的退休人员，平均年龄62.5岁。而且各自家庭都有困难，成国英儿子刚结婚，家里来了许多亲戚要安排，阮桂美家里老伴和小孙女没人管，陈健和郭延芳都有年近 9旬的老母亲要照顾，把老妈交给谁？重要的是身体状况，每个人都或多或少有慢性疾病，高血压、胃病、腰腿颈部伤痛，成国英手臂做了手术正在恢复中，刘敏腰部、颈椎骨头问题2次住院治疗，陈健漆关节病变平时走路都困难，上山必须带着拐杖。</p>
			</div>
			
			

		</div>
	</div>
	<!--尾部-->
    <include file="./Application/Home/View/Public/footer.html"/>
</body>
</html>