<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>阳光家园</title>
	<link rel="stylesheet" href="__PUBLIC__/Front/css/header.css">
	<link rel="stylesheet" href="__PUBLIC__/Front/css/relation.css">
	<link rel="stylesheet" href="__PUBLIC__/Front/css/style.css">
</head>
<body>
	<!--头部-->
	<include file="./Application/Home/View/Public/header.html" />
	<div id="main">
	<div class="nav"><p>首页>>联系我们</p></div>
		<div class="content">
			<div class="re_list">
				<span class="ns">联系我们&nbsp;&nbsp;</span>
				<span class="rs">CONTACTUS</span>
			</div>
			<div class="re_main">
				<div class="main_left"><img src="__PUBLIC__/Front/images/relation.jpg"></div>
				<div class="main_right">
				    <br>
					<p><span><strong>华中农业大学阳光家园</strong></span></p>
					<p><span>联系人：xxx</span></p>
					<p><span>电话：15927656678</span></p>
					<p><span>email:862669282@qq.com</span></p>
					<p><span>地址：华中农业大学竹苑西拐第二间房子</span></p>
					<p><span></span></p>
					<p><span></span></p>
					<p><span></span></p>
				</div>
			</div>
		</div>
	</div>
	<!--尾部-->
    <include file="./Application/Home/View/Public/footer.html"/>
</body>
</html>