<include file="./Application/Admin/View/Public/index.html" />
<script type="text/javascript">
$(document).ready(function() 
    	{ 
      	  $("#dh").html("新闻动态"); 
   	    } 
	);
</script>
<section id="main" class="column">
	
		<article class="module width_full">
		
			<header><h3>新闻详情</h3></header>
			
				<div class="module_content">
			        <div class="view_content">
					   

					</div>
				</div>
			<footer>
				
			</footer>
		 
		</article><!-- end of post new article -->
	
		
		<div class="spacer"></div>
	</section>
	
</body>

</html>