<include file="./Application/Admin/View/Public/index.html" />
<script type="text/javascript">
$(document).ready(function() 
    	{ 
      	  $("#dh").html("新闻动态"); 
   	    } 
	);
</script>
<section id="main" class="column">
	
		<article class="module width_full">
		<form action="__URL__/update?id={$arr.nid}" enctype="multipart/form-data" method="post" id="newform">
			<header><h3>添加新闻</h3></header>
			
				<div class="module_content">
			
						<fieldset>
							<label>新闻标题</label>
							<input type="text" name="title" value="{$arr.title}">
						</fieldset>
						<fieldset>
							<label>新闻内容</label><br/>
							
							 <script id="container" name="con" type="text/plain" style="height:250px;width:100%;float:left;">
                                 {$arr.con}
                             </script>
                             <!-- 配置文件 -->
                             <script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.config.js"></script>
                             <!-- 编辑器源码文件 -->
                             <script type="text/javascript" src="__PUBLIC__/Ueditor/ueditor.all.js"></script>
                             <!-- 实例化编辑器 -->
                             <script type="text/javascript">
                                 var ue = UE.getEditor('container');
                             </script>
						</fieldset>
						<fieldset>
							<label>添加图片(仅能两张)</label><br/>
                                   
                                       <input type="file" name="photo1" />
									   <input type='file' name='photo2' />
                                   
						</fieldset>
			    
				</div>
			<footer>
				<div class="submit_link">
					<input type="submit" value="修改" class="alt_btn">
					<input type="reset" value="清空">
				</div>
			</footer>
		  </form>
		</article><!-- end of post new article -->
	
		
		<div class="spacer"></div>
	</section>
	
</body>

</html>