<include file="./Application/Admin/View/Public/index.html" />
<script type="text/javascript">
$(document).ready(function() 
    	{ 
      	  $("#dh").html("团队成员"); 
   	    } 
	);
</script>
<section id="main" class="column">
		
		<article class="module width_full">
		
			<header><h3>添加成员</h3></header>
			
					<div class="module_content">
			          <div class="view_content">
					      <div class="people_add">
	<form class="form-horizontal" role="form" method="post" action="__URL__/update?id={$arr.eid}" enctype="multipart/form-data">
   <div class="form-group">
      <label for="firstname" class="col-sm-2 control-label">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="firstname" name="name"  placeholder="请输入姓名" value="{$arr.name}">
      </div>
   </div>
   <div class="form-group">
      <label for="lastname" class="col-sm-2 control-label">曾任职务</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="lastname" name="job"  value="{$arr.job}"   placeholder="请输入职务">
      </div>
   </div>
   <div class="form-group">
      <label for="lastname" class="col-sm-2 control-label">联系电话</label>
      <div class="col-sm-10">
         <input type="text" class="form-control" id="lastname" name="tel"
            placeholder="请输入电话" value="{$arr.tel}">
      </div>
   </div>
   <div class="form-group">
      <label for="lastname" class="col-sm-2 control-label">上传头像</label>
      <div class="col-sm-10">
         <input type="file" id="inputfile" name="img">
      </div>
   </div>
   <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
         <button type="submit" class="btn btn-default">确定</button>
      </div>
   </div>
</form>

						  </div>
			     	  </div>
		            
				</div>
			<footer>
				
			</footer>
		 
		</article><!-- end of post new article -->
	
		
		<div class="spacer"></div>
	</section>
	
</body>

</html>